<p-dialog
  [(visible)]="this.openModal"
  [style]="{ width: '1000px' }"
  header="Miembros del tribunal"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="handleCloseModal()"
>
  <ng-template pTemplate="content" style="overflow: visible">
    <div class="w-full mb-4 flex flex-row items-center justify-content-between">
      <h1
        style="
          color: black;
          font-size: 24;
          font-weight: 500;
          margin-bottom: 14px;
        "
      >
        Llamado: {{ llamadoInfo.nombre }}
      </h1>
      <p-button (onClick)="openNew()" label="Agregar"></p-button>
    </div>
    <div style="max-height: 500px; overflow: auto" class="w-full h-auto table">
      <p-table
        #dt
        [value]="llamadoInfo?.miembrosTribunal"
        [loading]="false"
        [globalFilterFields]="['nombre', 'estado']"
        [tableStyle]="{ 'min-width': '100%' }"
        [(selection)]="selectMiembrosTribunal"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Miembros Tribunal</h5>
            <!-- <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
        </span> -->
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              Orden
            </th>
            <th>
              Persona
              <p-columnFilter
                type="text"
                field='persona.primerNombre + " " +  persona.primerApellido'
                display="menu"
              ></p-columnFilter>
            </th>
            <th>
              Documento
              <p-columnFilter
                type="text"
                field="persona.documento"
                display="menu"
              ></p-columnFilter>
            </th>

            <th>
              Renuncia
              <p-columnFilter
                type="boolean"
                field="renuncia"
                display="menu"
              ></p-columnFilter>
            </th>

            <th>
              Tipo Integrante
              <p-columnFilter
                type="text"
                field="tipoDeIntegrante?.nombre"
                display="menu"
              ></p-columnFilter>
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-miembroTribunal>
          <tr>
            <td>{{ miembroTribunal.orden }}</td>
            <td>{{ miembroTribunal.persona.primerNombre + " " +  miembroTribunal.persona.primerApellido }}</td>
            <td>{{ miembroTribunal.persona.documento }}</td>
            <td>{{ miembroTribunal.renuncia ? "Si -  \n Motivo: " + (miembroTribunal.motivoRenuncia || "No tiene")  : "No" }}</td>
            <td>{{ miembroTribunal.tipoDeIntegrante?.nombre }}</td>
            <td style="justify-content: center; display: flex; gap: 5px;">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success mr-2"
                (click)="handleEdit(miembroTribunal)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger"
                (click)="deleteMiembroTribunal(miembroTribunal)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>

  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="openNewModal"
  [style]="{ width: '450px' }"
  [header]="isEdit ? 'Actualizar miembro del tribunal' : 'Agregar miembro al tribunal'"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content" style="overflow: visible">
    <div class="field">
      <label for="persona">Persona</label>
      <p-dropdown
        id="persona"
        [options]="allPersonas"
        optionValue="id"
        [(ngModel)]="selectedPersona"
        [virtualScroll]="true"
        [virtualScrollItemSize]="10"
        optionLabel="completeNombre"
        inputId="float-label"
        [disabled]="isEdit"
        [required]="true"
        placeholder="Seleccionar Persona"
      ></p-dropdown>
      <small class="p-error" *ngIf="submitted && !selectedPersona"
        >La persona es requerida.</small
      >
    </div>
    <div class="field">
      <label for="tipoIntegrante">Tipo Integrante</label>
      <p-dropdown
        id="tipoIntegrante"
        [options]="allTipoIntegrante"
        optionValue="id"
        [(ngModel)]="selectedTipoIntegrante"
        [virtualScroll]="true"
        [disabled]="isEdit"
        [virtualScrollItemSize]="10"
        optionLabel="completeItem"
        inputId="float-label"
        [required]="true"
        placeholder="Seleccionar Tipo Integrante"
      ></p-dropdown>
      <small class="p-error" *ngIf="submitted && !selectedTipoIntegrante"
        >El tipoIntegrante es requerido.</small
      >
    </div>

    <div class="field">
      <label for="orden">Orden</label>
      <input
        type="number"
        pInputText
        id="orden"
        [(ngModel)]="miembroTribunalNuevo.orden"
      />
    </div>
    <div *ngIf="isEdit" class="flex flex-row mt-4 gap-2 items-center max-h-5">
      <p-checkbox
        inputId="renuncia"
        [binary]="true"
        [(ngModel)]="miembroTribunalNuevo.renuncia"
      ></p-checkbox>
      <label for="renuncia">Renuncia</label>
    </div>

    <div *ngIf="isEdit && miembroTribunalNuevo.renuncia === true" class="field mt-2">
      <label for="motRenuncia">Motivo Renuncia</label>
      <input
        type="text"
        pInputText
        id="motRenuncia"
        [(ngModel)]="miembroTribunalNuevo.motivoRenuncia"
      />
    </div>


    <div style="margin-top: 140px; margin-bottom: 140px" class=""></div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      [label]="isEdit ? 'Actualiar' : 'Guardar'"
      icon="pi pi-check"
      class="p-button-text"
      (click)="handleSubmit()"
    ></button>
  </ng-template>
</p-dialog>
