<style>
  .firstPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

  }
</style>

<div
  style="display: flex; flex-direction: column; align-items: center; margin: 0;"
>
  <div
    class="flex flex-col justify-content-center m-5"
    style="
   max-width: 100%;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 7px;
  padding: 8px;
    "
  >
    <div class="firstPart">
      <h1>Responsabilidades</h1>
      <div class="gap1 py-2 flex-row">
        <span class="p-input-icon-left mx-2">
          <i class="pi pi-search"></i>
          <input
            placeholder="Buscar"
            (keyup)="handleSearch($event)"
            [value]="query"
            type="text"
            pInputText
          />
        </span>
        <p-button
          icon="pi pi-trash"
          (onClick)="deleteSelectedResponsabilidades()"
          styleClass="p-button-danger"
        ></p-button>
        <div>
          <p-toast></p-toast>
          <p-confirmDialog #cd [style]="{ width: '50vw' }">
            <ng-template pTemplate="header">
              <h3>Eliminar Responsabilidad</h3>
            </ng-template>
            <ng-template pTemplate="footer">
              <button
                type="button"
                pButton
                icon="pi pi-times"
                label="No"
                (click)="cd.reject()"
              ></button>
              <p-button
                label="Yes"
                icon="pi pi-check"
                (onClick)="cd.accept()"
                styleClass="p-button-danger"
              ></p-button>
            </ng-template>
          </p-confirmDialog>
        </div>
        <p-button (onClick)="openNew()" label="Agregar"></p-button>
      </div>
    </div>

    <div class="table"><p-table
      #dt
      [value]="responsabilidadesArray"
      [loading]="isLoading"
      [globalFilterFields]="['nombre', 'estado']"
      [tableStyle]="{ 'min-width': '100%' }"
      [(selection)]="selectedResponsabilidades"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Administrar Responsabilidades</h5>
          <!-- <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
        </span> -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>
            Nombre
            <p-columnFilter
              type="text"
              field="nombre"
              display="menu"
            ></p-columnFilter>
          </th>
          <th class="">
            Area
            <p-columnFilter
              type="text"
              field="area.nombre"
              display="menu"
            ></p-columnFilter>
          </th>
          <th class="">
            Activo
            <p-columnFilter
              type="boolean"
              field="activo"
              display="menu"
            ></p-columnFilter>
          </th>
          <th class="text-center">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-respo>
        <tr>
          <td>
            <p-tableCheckbox [value]="respo"></p-tableCheckbox>
          </td>
          <td>{{ respo.nombre }}</td>
          <td>{{ respo.area.nombre }}</td>
          <td>{{ respo.activo === true ? "Si" : "No" }}</td>
          <td style="justify-content: center; display: flex; gap: 5px;">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editResponsabilidad(respo)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deleteResponsabilidad(respo)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div
      *ngIf="!isLoading && responsabilidadesArray.length < 1"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 5rem;
        height: 5rem;
      "
    >
      <h3>
        Lo sentimos, pero no contamos con responsabilidades disponibles para
        listar.
      </h3>
    </div>
    <p-paginator
      *ngIf="!isLoading && responsabilidadesArray.length > 0"
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="currentRows"
      [totalRecords]="totalCount"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}"
    ></p-paginator>
    </div>

  </div>
</div>

<p-dialog
  [(visible)]="responsabilidadModal"
  [style]="{ width: '450px', }"
  header="Crear Responsabilidad"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="area">Area</label>
      <p-dropdown
        [options]="areasArray"
        [(ngModel)]="responsabilidad.area"
        optionLabel="nombre"
        inputId="float-label"
        placeholder="Seleccione un área"
        ></p-dropdown>
      <!-- <p-dropdown
        *ngIf="isModifying"
        [options]="areasArray"
        [(ngModel)]="responsabilidad.area"
        optionLabel="nombre"
        inputId="float-label"
        [disabled]="true"
      ></p-dropdown> -->
      <small class="p-error" *ngIf="submitted && !responsabilidad.area">
        Es necesario seleccionar un área.
      </small>
    </div>
    <div class="field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        id="nombre"
        [(ngModel)]="responsabilidad.nombre"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !responsabilidad.nombre"
        >El nombre es requerido.</small
      >
    </div>
    <div class="field">
      <label for="nombre">Descripción</label>
      <textarea
        type="text"
        pInputText
        id="description"
        [(ngModel)]="responsabilidad.descripcion"
        required
        autofocus
      ></textarea>
      <small class="p-error" *ngIf="submitted && !responsabilidad.descripcion"
        >La descripción es requerida.</small
      >
    </div>
    <div class="flex flex-row mt-4 gap-2 items-center max-h-5">
      <p-checkbox
        (onChange)="handleChangeEstado($event)"
        inputId="estado"
        [value]="responsabilidad.activo"
        [binary]="true"
        [(ngModel)]="responsabilidad.activo"
      ></p-checkbox>
      <label for="estado">Activo</label>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveResponsabilidad()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
