<div
  style="height: 100vh;"
  class="w-12 bg-green-100 flex flex-row align-items-center justify-content-center"
>
  <div
    class="flex-grow-1 h-12 w-full h-full flex flex-row align-items-center justify-content-center"
  >
    <div
      class="h-12 p-7 w-full sm:w-10 md:w-6 gap-6 h-full bg-white flex flex-col align-items-center justify-content-start"
    >
      <span class="text-3xl text-black font-semibold">Registrarse</span>
      <span class="text-xl text-black font-semibold text-left"
        >Accede Con tus credenciales para iniciar sesion</span
      >
      <div
        class="w-full h-auto flex flex-col align-items-center jsutify-content-center gap-4"
      >
        <p-messages
          [(value)]="alertsTypes"
          [enableService]="false"
          [closable]="true"
          class="my-2 w-full"
        ></p-messages>
        <div class="flex flex-wrap gap-4 w-full align-items-center">
          <span class="p-float-label">
            <p-dropdown
              [options]="tiposDocumentos"
              optionValue="id"
              [(ngModel)]="selectedTDoc"
              optionLabel="nombre"
              inputId="float-label"
              [disabled]="isTDocLoading"
              placeholder="Tipo de Documento"
            ></p-dropdown>
            <label for="float-label">Tipo de documento</label>
          </span>
          <span class="p-float-label">
            <input
              type="documento"
              class="w-full p-3 text-xl"
              pInputText
              id="documento"
              [(ngModel)]="documento"
            />
            <label htmlFor="documento">Documento <span class="text-red-500">*</span></label>
          </span>
        </div>
        <div class="flex gap-4 w-full align-items-center">
          <span class="p-float-label w-full">
            <input
              type="primerNombre"
              class="w-full p-3 text-xl"
              pInputText
              id="primerNombre"
              [(ngModel)]="primerNombre"
            />
            <label htmlFor="primerNombre">Primer Nombre <span class="text-red-500">*</span></label>
          </span>
          <span class="p-float-label w-full">
            <input
              type="segundoNombre"
              class="w-full p-3 text-xl"
              pInputText
              id="segundoNombre"
              [(ngModel)]="segundoNombre"
            />
            <label htmlFor="segundoNombre">Segundo Nombre</label>
          </span>
        </div>
        <div class="flex gap-4 w-full align-items-center">
          <span class="p-float-label w-full">
            <input
              type="primerApellido"
              class="w-full p-3 text-xl"
              pInputText
              id="primerApellido"
              [(ngModel)]="primerApellido"
            />
            <label htmlFor="primerApellido">Primer Apellido <span class="text-red-500">*</span></label>
          </span>
          <span class="p-float-label w-full">
            <input
              type="segundoApellido"
              class="w-full p-3 text-xl"
              pInputText
              id="segundoApellido"
              [(ngModel)]="segundoApellido"
            />
            <label htmlFor="segundoApellido">Segundo Apellido</label>
          </span>
        </div>
        <span class="p-float-label w-full">
          <input
            type="email"
            class="w-full p-3 text-xl"
            pInputText
            id="email"
            [(ngModel)]="email"
          />
          <label htmlFor="email">Email <span class="text-red-500">*</span></label>
        </span>
        <span class="p-float-label w-full">
          <input
            type="imagen"
            class="w-full p-3 text-xl"
            pInputText
            id="imagen"
            [(ngModel)]="imagen"
          />
          <label htmlFor="imagen">Imagen</label>
        </span>
        <button
          (click)="handleRegister()"
          style="background-color: #003443;"
          pButton
          pRipple
          label="Registrarse"
          class="p-button-success w-full py-3"
        ></button>
      </div>
    </div>
  </div>
</div>
