<style>
  .firstPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

  }
</style>

<div
  style="display: flex; flex-direction: column; align-items: center; margin: 0;"
>
  <div
    class="flex flex-col w-full justify-content-center"
  >
  <div class="firstPart">
    <h1>Usuarios</h1>
    <div class="gap1 py-2 flex-row">
      <span class="p-input-icon-left mx-2">
        <i class="pi pi-search"></i>
        <input
          placeholder="Buscar"
          (keyup)="handleSearch($event)"
          [value]="query"
          type="text"
          pInputText
        />
      </span>
      <p-button (onClick)="showDialog()" label="Agregar"></p-button>
    </div>
  </div>

    <p-table
      #dt
      [value]="usuariosArr"
      [loading]="isUsuariosLoading"
      [globalFilterFields]="['primerNombre', 'primerApellido', 'documento', 'estado']"
      [tableStyle]="{ 'min-width': '100%' }"
      [(selection)]="selectedUsuarios"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Administrar Usuarios</h5>
          <!-- <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
        </span> -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="persona.primerNombre" style="min-height: 55px;">
            Primer Nombre 
            <p-columnFilter type="text" field="persona.primerNombre" display="menu"></p-columnFilter>

          </th>
          <th pSortableColumn="persona.primerApellido" style="min-height: 55px;">
            Primer Apellido
            <p-columnFilter type="text" field="persona.primerApellido" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="persona.documento" style="min-height: 55px;">
            Documento
            <p-columnFilter type="text" field="documento" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="activo" style="min-height: 55px;">
            Estado
            <p-columnFilter type="boolean" field="activo" display="menu"></p-columnFilter>
          </th>
          <th class="text-center">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>
            <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
          </td>
          <td>{{ usuario.persona.primerNombre }}</td>
          <td>{{ usuario.persona.primerApellido }}</td>
          <td>{{ usuario.persona.documento }}</td>
          <td>{{ usuario.activo === true ? "Activo" : "Inactivo" }}</td>
          <td style="justify-content: center; display: flex; gap: 5px;">
            <button
              pButton
              pRipple
              title="Modificar Roles"
              icon="pi pi-cog"
              class="p-button-rounded p-button-warning mr-2"
              (click)="editRoles(usuario)"
            ></button>
            <button
              pButton
              pRipple
              title="Editar"
              icon="pi pi-user-edit"
              class="p-button-rounded p-button-success mr-2"
              (click)="editUsuario(usuario)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div
      *ngIf="!isUsuariosLoading && usuariosArr.length < 1"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 5rem;
        height: 5rem;
      "
    >
      <h3>
        Lo sentimos, pero no contamos con usuarios disponibles para listar.
      </h3>
    </div>
    <p-paginator
      *ngIf="!isUsuariosLoading && usuariosArr.length > 0"
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="currentRows"
      [totalRecords]="totalCount"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}"
    ></p-paginator>
  </div>
</div>

<p-dialog
  [(visible)]="registerModal"
  [style]="{ width: '1000px' }"
  header="Detalles del Usuario"
  [modal]="true"
  styleClass="p-fluid"
  class="w-12 bg-green-100 flex flex-row align-items-center justify-content-center"
>
  <div
    class="flex-grow-1 h-12 w-full h-full flex flex-col align-items-center justify-content-center p-5"
  >
    <span class="text-3xl text-black font-semibold">
      {{isModifying ? "Modificar usuario" : "Registrar una nueva persona"}}
    </span>
    <div
      class="w-full h-auto flex flex-col align-items-center jsutify-content-center gap-4"
    >
      <p-messages
        [(value)]="alertsTypes"
        [enableService]="false"
        [closable]="true"
        class="my-2 w-full"
      ></p-messages>
      <div class="flex flex-wrap gap-4 w-full align-items-center">
        <span class="p-float-label">
          <p-dropdown
            *ngIf="!isModifying"
            [options]="tiposDocumentos"
            optionValue="id"
            [(ngModel)]="selectedTDoc"
            optionLabel="nombre"
            inputId="float-label"
            placeholder="Tipo de Documento"
          ></p-dropdown>
          <p-dropdown
            *ngIf="isModifying"
            [options]="tiposDocumentos"
            optionValue="id"
            [(ngModel)]="selectedTDoc"
            optionLabel="nombre"
            inputId="float-label"
            [disabled]="true"
          ></p-dropdown>
          <label for="float-label">Tipo de documento</label>
        </span>
        <div>
          <span class="p-float-label">
            <input
              type="text"
              class="w-full p-3 text-xl"
              pInputText
              id="documento"
              [(ngModel)]="usuario.persona.documento"
              [disabled]="isModifying || !selectedTDoc"
              required
            />
            <label htmlFor="documento"
              >Documento <span class="text-red-500">*</span></label
            >
          </span>
          <small class="p-error" *ngIf="submitted && !usuario.persona.documento"
            >El documento es requerido.</small
          >
        </div>
        <span>
          <p-checkbox
            value="Activo"
            inputId="active"
            [(ngModel)]="usuario.activo"
            [binary]="true"
          ></p-checkbox>
          <label class="ml-2" for="active">Activo</label>
        </span>
      </div>
      <div class="flex gap-4 w-full align-items-center">
        <div class="w-full">
          <span class="p-float-label">
            <input
              type="primerNombre"
              class="w-full p-3 text-xl"
              pInputText
              id="primerNombre"
              [(ngModel)]="usuario.persona.primerNombre"
            />
            <label htmlFor="primerNombre"
              >Primer Nombre <span class="text-red-500">*</span></label
            >
          </span>
          <small
            class="p-error"
            *ngIf="submitted && !usuario.persona.primerNombre"
            >Primer nombre es requerido.</small
          >
        </div>
        <span class="p-float-label w-full">
          <input
            type="segundoNombre"
            class="w-full p-3 text-xl"
            pInputText
            id="segundoNombre"
            [(ngModel)]="usuario.persona.segundoNombre"
          />
          <label htmlFor="segundoNombre">Segundo Nombre</label>
        </span>
      </div>
      <div class="flex gap-4 w-full align-items-center">
        <div class="w-full">
          <span class="p-float-label w-full">
            <input
              type="primerApellido"
              class="w-full p-3 text-xl"
              pInputText
              id="primerApellido"
              [(ngModel)]="usuario.persona.primerApellido"
            />
            <label htmlFor="primerApellido"
              >Primer Apellido <span class="text-red-500">*</span></label
            >
          </span>
          <small
            class="p-error"
            *ngIf="submitted && !usuario.persona.primerApellido"
            >Primer Apellido es requerido.</small
          >
        </div>
        <span class="p-float-label w-full">
          <input
            type="segundoApellido"
            class="w-full p-3 text-xl"
            pInputText
            id="segundoApellido"
            [(ngModel)]="usuario.persona.segundoApellido"
          />
          <label htmlFor="segundoApellido">Segundo Apellido</label>
        </span>
      </div>
      <div class="w-full">
        <span class="p-float-label w-full">
          <input
            type="email"
            class="w-full p-3 text-xl"
            pInputText
            id="email"
            email="true"
            [disabled]="isModifying"
            [(ngModel)]="usuario.email"
            required
          />
          <label htmlFor="email"
            >Email <span class="text-red-500">*</span></label
          >
        </span>
        <small class="p-error" *ngIf="submitted && (!usuario.email)"
          >El Email es requerido.</small
        >
      </div>
      <span class="p-float-label w-full">
        <input
          type="imagen"
          class="w-full p-3 text-xl"
          pInputText
          id="imagen"
          [(ngModel)]="usuario.imagen"
        />
        <label htmlFor="imagen">Imagen</label>
      </span>
      <button
        (click)="saveUsuario()"
        style="background-color: #003443;"
        pButton
        pRipple
        label="Registrar"
        [label]="isModifying ? 'Guardar' : 'Registrar Usuario'"
        class="p-button-text w-full py-3"
      ></button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="roleModal"
  [style]="{ width: '1000px' }"
  header="Gestión de Roles"
  [modal]="true"
  styleClass="p-fluid"
  class="w-12 bg-green-100 flex flex-row align-items-center justify-content-center"
>
  <div
    class="flex-grow-1 h-12 w-full h-full flex flex-col align-items-center justify-content-center p-5"
  >
    <span class="text-3xl text-black font-semibold">
      Gestionar Roles del Usuario
    </span>
    <div
      class="w-full h-auto flex flex-col align-items-center jsutify-content-center gap-4"
    >
      <p-messages
        [(value)]="alertsTypes"
        [enableService]="false"
        [closable]="true"
        class="my-2 w-full"
      ></p-messages>
      <div class="flex gap-4 w-full align-items-center">
        <span class="p-float-label">
          <p-dropdown
            [options]="rolesArr"
            [(ngModel)]="selectedRole"
            inputId="float-label"
          ></p-dropdown>
          <label for="float-label">Roles</label>
        </span>
        <button
          pButton
          pRipple
          label="Agregar"
          class="p-button-success"
          (click)="addRole()"
        ></button>
      </div>
      <div class="w-full">
        <p-table
          [value]="usuario.roles"
          [globalFilterFields]="['nombre', 'id',]"
          [tableStyle]="{ 'min-width': '100%' }"
          [rowHover]="true"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Roles actuales</h5>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="rol" style="min-height: 55px;">
                Nombre <p-sortIcon field="rol"></p-sortIcon>
              </th>
              <th class="text-center">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rol>
            <tr>
              <td>{{ rol }}</td>
              <td style="justify-content: center; display: flex; gap: 5px;">
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  (click)="deleteRole(rol)"
                ></button>
              </td>
              <!-- <td>{{ usuario.persona.primerApellido }}</td> -->
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- <button
        style="background-color: #003443;"
        pButton
        pRipple
        label="Registrar"
        [label]="isModifying ? 'Guardar' : 'Registrar Usuario'"
        class="p-button-text w-full py-3"
      ></button> -->
    </div>
  </div>
</p-dialog>
