<div style="display: flex; flex-direction: column; align-items: center; margin: 0;">
  <h1>Estados</h1>
  <div
    class="flex justify-content-center m-5"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 100rem;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 7px;
      width: 100%;
    "
  >
    <p-toast></p-toast>
    <p-toolbar>
      <ng-template pTemplate="left">
        <div style="display: flex; gap: 1rem;">
          <button
            pButton
            pRipple
            label="Agregar"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="openNew()"
          ></button>
          <button
            pButton
            pRipple
            label="Eliminar"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedEstados()"
            [disabled]="!selectedEstados || !selectedEstados.length"
          ></button>
        </div>
      </ng-template>

      <!-- <ng-template pTemplate="right">
        <p-fileUpload
          mode="basic"
          accept="image/*"
          [maxFileSize]="1000000"
          label="Import"
          chooseLabel="Import"
          class="mr-2 inline-block"
        ></p-fileUpload>
        <button
          pButton
          pRipple
          label="Export"
          icon="pi pi-upload"
          class="p-button-help"
        ></button>
      </ng-template> -->
    </p-toolbar>

    <p-table
      #dt
      [value]="estadosArray"
      [loading]="isLoading"
      [globalFilterFields]="['nombre', 'estado']"
      [tableStyle]="{ 'min-width': '100%' }"
      [(selection)]="selectedEstados"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Administrar Estados Posibles de Llamado</h5>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th
            pSortableColumn="nombre"
            style="
              min-width: 100%;
              justify-content: center;
              display: flex;
              min-height: 55px;
            "
          >
            Nombre <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th>Activo</th>
          <th style="text-align: end;">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-estadoP>
        <tr>
          <td>
            <p-tableCheckbox [value]="estadoP"></p-tableCheckbox>
          </td>
          <td>{{ estadoP.nombre }}</td>
          <td>{{ estadoP.activo === true ? "Si" : "No" }}</td>
          <td style="justify-content: end; display: flex; gap: 5px;">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editEstado(estadoP)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deleteEstado(estadoP)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div
      *ngIf="!isLoading && estadosArray.length < 1"
      style="display: flex; justify-content: center; align-items: center; min-height: 5rem; height: 5rem"
    >
      <h3>
        Lo sentimos, pero no contamos con estados disponibles para listar.
      </h3>
    </div>
    <p-paginator
      *ngIf="!isLoading && estadosArray.length > 0"
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="currentRows"
      [totalRecords]="totalCount"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}"
    ></p-paginator>
  </div>
</div>

<p-dialog
  [(visible)]="estadoModal"
  [style]="{ width: '450px' }"
  header="Detalles del Estado Posible"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        id="nombre"
        [(ngModel)]="currentEstadoPosible.nombre"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !currentEstadoPosible.nombre"
        >El nombre es requerido.</small
      >
    </div>
    <div class="flex flex-row mt-4 gap-2 items-center">
      <p-checkbox
        (onChange)="handleChangeEstado($event)"
        inputId="estado"
        [value]="currentEstadoPosible?.activo"
        [binary]="true"
        [(ngModel)]="currentEstadoPosible.activo"
      ></p-checkbox>
      <label for="estado">Activo</label>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveEstadoPosible()"
    ></button>
  </ng-template>
  
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
