/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
    padding: 0;
    margin: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.gap1 {
    gap: 4px;
}

.gap2 {
    gap: 8px;
}

.gap3 {
    gap: 12px;
}

.mt1 {
    margin-top: 4px;
}

.mt2 {
    margin-top: 8px;
}

.mt3 {
    margin-top: 12px;
}




.table {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.165);
    border-radius: 10px;
    transition: all .3s ease;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}



.firstPart {
    display: flex!important;
    flex-direction: row!important;
  }

  .firstPart div {
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
     justify-content: center;
     gap: 10px;
  }

  @media (max-width: 768px) {
    .firstPart {
      flex-direction: column!important;
    }
  }


  .modalExpanded{
    width: 800px!important;
  }


  @media (max-width: 768px) {
    .modalExpanded{
        width: 95%!important;

    }
  }

  .mobileFlexCol {
    display: flex !important;
    flex-direction: row;
  }

  @media only screen and (max-width: 768px) {
    .mobileFlexCol {
      display: flex !important;
      flex-direction: column;
    }
  }

  .p-datatable {
    width: 100%;
    min-width: 100%;
  }
