<div
  style="height: 100vh"
  class="w-12 bg-green-100 flex flex-row align-items-center justify-content-center"
>
  <div
  *ngIf="!this.isInvalid; else esInvalido"
  style="z-index: 2;background-color: rgba(255, 255, 255, 0.739);width: 550px; max-width: 550px;min-width: 550px; padding: 40px;"
    class="h-auto border-round-2xl gap-6 h-full flex flex-col align-items-center justify-content-center"
  >
    <span class="text-3xl text-black font-semibold">Crear Nueva contraseña</span>
    <span class="text-xl text-black font-semibold text-left"
      >Ingresa tu nueva contraseña</span
    >
    <div
      class="w-full h-auto flex flex-col align-items-center jsutify-content-center gap-6"
    >
      <p-messages
        [(value)]="alertsTypes"
        [enableService]="false"
        [closable]="true"
        class="my-2 w-full"
      ></p-messages>
      <span class="p-float-label w-full">
        <input
          type="password"
          class="w-full p-3 text-xl"
          pInputText
          id="password"
          [(ngModel)]="newPassword"
        />
        <label htmlFor="password">Contraseña</label>
      </span>

      <span class="p-float-label w-full">
        <input
          type="password"
          class="w-full p-3 text-xl"
          pInputText
          id="passwordTwo"
          [(ngModel)]="newPasswordtwo"
        />
        <label htmlFor="passwordTwo">Confirmar Contraseña</label>
      </span>

      <button
        (click)="handleResetPassword()"
        style="background-color: #003443"
        pButton
        pRipple
        label="Restablecer contraseña"
        class="p-button-success w-full py-3"
        loadingIcon="pi pi-spinner pi-spin"
        [loading]="isLoading"
      ></button>

      <p-button (onClick)="handleGoToLogin()" label="Ya tengo una cuenta" styleClass="p-button-link"></p-button>

    </div>
  </div>

  <ng-template #esInvalido>
    <div 
    style="z-index: 2;background-color: rgba(255, 255, 255, 0.739);"
    class="h-auto md:min-w-max border-round-2xl w-auto p-7 gap-6 h-full flex flex-col align-items-center justify-content-center"
    >
    <span class="text-3xl text-black font-semibold">Datos invalidos</span>
    <span class="text-xl text-black font-semibold text-left"
      >Al parecer no pudimos encontrarte , intentalo nuevamente</span
    >
    </div>
  </ng-template>
</div>
